{% extends "layout.html" %}

{% block title %}
   Buy Stocks
{% endblock %}

{% block main %}
    <h1> Buy Stocks<h1>
    
    <form action="/buy" method="post">
        <label for="symbol">Stock Symbol:</label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" id="symbol" name="symbol" placeholder="Symbol" required><br><br>

        <label for="shares">Number of Shares:</label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" type="number" id="shares" name="shares" placeholder="Shares" min="1" required><br><br>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}